/* accent-color altera a cor interna de  Checkbox, radiobuttons, range  */




body{
   background-color: #cccccc;
   width: 35%;
   margin: auto;
   margin-top: 5%; 
}

#text{
 
}

#button{

}

#checkbox{
   accent-color: red;
}

#color{

}

#date{

}

#datetime-local{

}

#email{

}

#file{

}

#hidden{

}

#image{

}

#month{

}

#number{

}

#password{
    
}

#radio{
    accent-color: red;
}

#range{
    accent-color: red;
}

#reset{

}

#search{

}

#submit{

}

#tel{

}

#time{

}

#url{

}

#week{

}